.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--third-background-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

// Footer contacts

.footer-contacts {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    width: 231px;
    margin-right: 70px;
  }
}

.logo--light {
  color: var(--primary-title-color);
}

.footer-contacts__list {
  margin-top: 20px;
}

.footer-contacts__item {
  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.footer-contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.footer-contacts__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

//Footer socials

.footer-socials {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 102px;
  }
  @media screen and (min-width: 1200px) {
    width: 206px;
    height: 80px;
    margin-right: 93px;
  }
}

.footer-socials__title {
  @extend %footer-title;
}

.socials__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__icon--light {
  fill: #ffffff;
}

//Footer subscribe

.footer-subscribe {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-subscribe__form {
  width: 100%;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    width: 570px;
  }
}

.footer-subscribe__wrapper {
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    width: 358px;
    margin-right: 8px;
  }
}

.footer-subscribe__title {
  @extend %footer-title;
  display: block;
}

.footer-subscribe__input {
  display: block;
  width: 100%;
  padding: 15px 16px;

  border-radius: 4px;
  outline: none;
  border: 1px solid #ffffff4d;
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: inherit;

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    vertical-align: center;
    letter-spacing: 0.03em;
    color: #ffffff99;
  }
  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:not(:placeholder-shown) {
    color: var(--primary-title-color);
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-subscribe__button {
  @extend .button;
  display: flex;
  padding: 10px 28px;

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.footer-subscribe__icon {
  margin-left: 10px;
}
