:root {
  --primary-title-color: #ffffff;
  --second-title-color: #212121;
  --primary-text-color: #757575;
  --second-text-color: #ffffff99;
  --accent-color: #2196f3;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
}
